@if (server != null)
    <div data-name="@server.Name" data-status="@(server.IsOnline ? "Online" : "Offline")"
         style="color:@(server.IsOnline ? "green" : "red")">
        @server.Name is in @server.City that is @(server.IsOnline ? "Online" : "Offline")
        &nbsp;
        <button type="submit" class="btn btn-primary" @onclick="ChangeStatus">Turn On/Off</button>
    </div>
}

@code {
    private Server? server = new Server { Name = "Server 1", City = "Toronto" };

    private void ChangeStatus()
    {
        if (server != null)
        {
            this.server.IsOnline = !this.server.IsOnline;
        }
    }
}